In [1]:
import tensorflow as tf
import os
import pandas as pd
import numpy as np
import math 

PROJECT = 'qwiklabs-gcp-aebfb78fe0f1b1d1' # REPLACE WITH YOUR PROJECT ID
BUCKET = 'sarah-bucket' # REPLACE WITH YOUR BUCKET NAME
REGION = 'us-central1' # REPLACE WITH YOUR BUCKET REGION e.g. us-central1
os.environ['TFVERSION'] = '1.8'  # Tensorflow version

SEQ_LEN = 50

/usr/local/envs/py2env/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

### Define the project, Bucket and Region and set them.

In [2]:
# for bash
os.environ['PROJECT'] = PROJECT
os.environ['BUCKET'] = BUCKET
os.environ['REGION'] = REGION

In [3]:
%%bash
gcloud config set project $PROJECT
gcloud config set compute/region $REGION

Updated property [core/project].
Updated property [compute/region].

In [4]:
! pwd
! ls

/content/datalab/energy_forcasing/Sarah
ARIMA.csv		 CNN_W2P_model	  sarah_data.csv
BIG_q.ipynb		 data		  test.json
build_local_model.ipynb  Energy_ts	  trained
Build_model_task.ipynb	 hyperparam.yaml  train_model_local.ipynb

In [5]:
## move the csv file to the bucket ~ you rly dont need to do this
## !gsutil cp -p /content/datalab/energy_forcasing/Sarah/sarah_data.csv gs://sarah-bucket/sarah_data.csv

In [6]:
CSV_COLUMNS = ['prediction_date', 'wind_speed_100m', 
  'wind_direction_100m', 
  'temperature', 
  'air_density',
  'pressure', 'precipitation', 'wind_gust', 'radiation', 
  'wind_speed', 'wind_direction', 'price']
FEATURES = CSV_COLUMNS[1:len(CSV_COLUMNS) - 1]
LABEL = CSV_COLUMNS[0]

df5 = pd.read_csv('/content/datalab/energy_forcasing/Sarah/sarah_data.csv', header = None, names = CSV_COLUMNS)
df5.describe()

,wind_speed_100m,wind_direction_100m,temperature,air_density,pressure,precipitation,wind_gust,radiation,wind_speed,wind_direction,price
count,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000,6646.000000
mean,4.799901,189.582975,14.920355,1.132338,935.286695,0.117364,4.872509,225.250182,3.220986,189.082629,50.153506
std,1.964154,58.126639,9.626527,0.039333,6.105083,0.245561,2.428587,266.299815,1.319704,56.712796,12.448392
min,1.372222,47.883333,-6.044444,1.036111,913.800000,0.000000,1.194444,0.000000,0.855556,50.538889,4.000000
25%,3.534722,142.598611,7.540278,1.106111,932.034722,0.000000,3.284722,0.000000,2.294444,143.750000,43.000000
50%,4.477778,191.908333,14.213889,1.131667,934.761111,0.000000,4.327778,95.000000,2.961111,191.208333,50.890000
75%,5.544444,232.043056,21.062500,1.160556,937.805556,0.100000,5.627778,416.422222,3.850000,230.865278,59.950000
max,15.044444,329.544444,41.044444,1.229444,961.238889,1.700000,16.705556,954.288889,9.738889,327.711111,85.050000

In [7]:
df5.shape[0]

6646

In [8]:
#for ii in range(10):
#   N = 7
#  SEQ = df5.price[(0+N*ii):(N+N*ii)]
np.random.seed(seed=None)
# np.random.uniform(0,6646-N)
6646-50

6596

In [9]:
def to_csv(filename, start, N, J):
  with open(filename, 'w') as ofp:
    for ii in xrange(start, N):
      # nn = int(round(np.random.uniform(low = 0, high = 6466-J),0))
      seq = (df5.price[(ii):(ii+J)]/60) ## trade nn for ii to make an in seq dataset instead of random
      line = ",".join(map(str, seq))
      ofp.write(line + '\n')
      #print(len(seq))
      if len(seq) != J:
        break

import os
try:
  os.makedirs('data/CNN_W2P_model/')
except OSError:
  pass
to_csv('data/CNN_W2P_model/train-1.csv', start = 0, N = 6000, J = 50)  # 1000 sequences
to_csv('data/CNN_W2P_model/valid-1.csv', start = 6001, N = 6596, J = 50)

In [10]:
df2 = pd.read_csv('data/CNN_W2P_model/train-1.csv', header = None)
df2.head()
#df2.shape

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.948333,0.942500,0.912333,0.500000,0.781000,0.654167,0.808333,0.724833,0.992833,0.668833,...,0.658333,0.500000,1.085000,0.953333,0.500000,0.846000,0.784667,0.751667,0.247333,1.001667
1,0.942500,0.912333,0.500000,0.781000,0.654167,0.808333,0.724833,0.992833,0.668833,0.750000,...,0.500000,1.085000,0.953333,0.500000,0.846000,0.784667,0.751667,0.247333,1.001667,1.008333
2,0.912333,0.500000,0.781000,0.654167,0.808333,0.724833,0.992833,0.668833,0.750000,0.830833,...,1.085000,0.953333,0.500000,0.846000,0.784667,0.751667,0.247333,1.001667,1.008333,0.790500
3,0.500000,0.781000,0.654167,0.808333,0.724833,0.992833,0.668833,0.750000,0.830833,0.834500,...,0.953333,0.500000,0.846000,0.784667,0.751667,0.247333,1.001667,1.008333,0.790500,1.124667
4,0.781000,0.654167,0.808333,0.724833,0.992833,0.668833,0.750000,0.830833,0.834500,0.816667,...,0.500000,0.846000,0.784667,0.751667,0.247333,1.001667,1.008333,0.790500,1.124667,0.492167

In [11]:
df1 = pd.read_csv('data/CNN_W2P_model/valid-1.csv', header = None) #, names = CSV_COLUMNS)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.893333,0.550000,0.886500,1.018167,0.668667,0.863333,0.718333,0.960000,0.711500,0.805833,...,0.725000,0.983167,0.946167,0.919833,1.011500,1.116833,1.019833,0.920833,0.794833,1.083333
1,0.550000,0.886500,1.018167,0.668667,0.863333,0.718333,0.960000,0.711500,0.805833,0.766000,...,0.983167,0.946167,0.919833,1.011500,1.116833,1.019833,0.920833,0.794833,1.083333,0.744167
2,0.886500,1.018167,0.668667,0.863333,0.718333,0.960000,0.711500,0.805833,0.766000,1.000000,...,0.946167,0.919833,1.011500,1.116833,1.019833,0.920833,0.794833,1.083333,0.744167,1.001667
3,1.018167,0.668667,0.863333,0.718333,0.960000,0.711500,0.805833,0.766000,1.000000,0.983333,...,0.919833,1.011500,1.116833,1.019833,0.920833,0.794833,1.083333,0.744167,1.001667,0.993333
4,0.668667,0.863333,0.718333,0.960000,0.711500,0.805833,0.766000,1.000000,0.983333,0.970833,...,1.011500,1.116833,1.019833,0.920833,0.794833,1.083333,0.744167,1.001667,0.993333,0.865000

In [24]:
# read data and convert to needed format
def read_dataset(filename, mode, batch_size=512):
    def _input_fn():
        def decode_csv(row):
            # row is a string tensor containing the contents of one row
            features = tf.decode_csv(row, record_defaults=DEFAULTS)  # string tensor -> list of 50 rank 0 float tensors
            label = features.pop()  # remove last feature and use as label
            features = tf.stack(features)  # list of rank 0 tensors -> single rank 1 tensor
            return {TIMESERIES_COL: features}, label

        # Create list of file names that match "glob" pattern (i.e. data_file_*.csv)
        dataset = tf.data.Dataset.list_files(filename)
        # Read in data from files
        dataset = dataset.flat_map(tf.data.TextLineDataset)
        # Parse text lines as comma-separated values (CSV)
        dataset = dataset.map(decode_csv)

        if mode == tf.estimator.ModeKeys.TRAIN:
            num_epochs = None  # loop indefinitely
            dataset = dataset.shuffle(buffer_size=10 * batch_size)
        else:
            num_epochs = 1  # end-of-input after this

        dataset = dataset.repeat(num_epochs).batch(batch_size)
        return dataset.make_one_shot_iterator().get_next()

    return _input_fn

N_OUTPUTS = 1
TIMESERIES_COL = 'price'
SEQ_LEN = 50
N_INPUTS = SEQ_LEN - N_OUTPUTS

def init(hparams):
    global SEQ_LEN, DEFAULTS, N_INPUTS
    SEQ_LEN = hparams['sequence_length']
    DEFAULTS = [[0.0] for x in range(0, SEQ_LEN)]
    N_INPUTS = SEQ_LEN - N_OUTPUTS
    
import tensorflow as tf
tf.reset_default_graph()
## make the activtion the same for each run - so results can be compared when testing code
tf.set_random_seed(seed=5)  
features = tf.placeholder(tf.float32, shape=[512, N_INPUTS])

## Testing the linear model
# X = features
# predictions = tf.layers.dense(X, 1, activation=None)
    
# ## Testing LSTM shapes.
# x = tf.reshape(features, [-1, N_INPUTS, 1])  ## dim is batch, seq len, 

# # 2. configure the RNN
# cell1 = tf.nn.rnn_cell.GRUCell(N_INPUTS * 3)
# cell2 = tf.nn.rnn_cell.GRUCell(N_INPUTS // 3)
# cells = tf.nn.rnn_cell.MultiRNNCell([cell1, cell2])
# outputs, state = tf.nn.dynamic_rnn(cells, x, dtype=tf.float32)
# # 'state' is now a tuple containing the final state of each cell layer
# # we use state[1] below to extract the final state of the final layer
# outputs = outputs[:, (N_INPUTS-1):, :] # last one only

# # 3. pass rnn output through a dense layer
# h1 = tf.layers.dense(state[1], cells.output_size // 3, activation=tf.nn.relu)
# predictions = tf.layers.dense(h1, 1, activation=None)  # (?, 1)

init({'sequence_length': 50})
init = tf.global_variables_initializer()

with tf.Session() as sess:
    sess.run(init) ### initalize the session
    
    features1, labels= sess.run(read_dataset('data/CNN_W2P_model/train-1.csv', None)())
    print("the read in data",features.shape, features1['price'])
    
#     xx = sess.run(x, feed_dict={features: features1['price']} )
#     print("re-formatted data",xx.shape, xx)
    
#     outputs = sess.run(outputs, feed_dict={features: features1['price']})
#     print("the output", outputs.shape, outputs)
    
    preds = sess.run(predictions, feed_dict={features: features1['price']})
    print("the predictions",preds.shape, preds)

('the read in data', TensorShape([Dimension(512), Dimension(49)]), array([[0.9483333 , 0.9425    , 0.9123333 , ..., 0.78466666, 0.75166667,
        0.24733333],
       [0.9425    , 0.9123333 , 0.5       , ..., 0.75166667, 0.24733333,
        1.0016667 ],
       [0.9123333 , 0.5       , 0.781     , ..., 0.24733333, 1.0016667 ,
        1.0083333 ],
       ...,
       [0.5581667 , 0.7353333 , 0.6271667 , ..., 1.0705    , 0.72083336,
        0.8183333 ],
       [0.7353333 , 0.6271667 , 0.928     , ..., 0.72083336, 0.8183333 ,
        0.9115    ],
       [0.6271667 , 0.928     , 1.1166667 , ..., 0.8183333 , 0.9115    ,
        0.7683333 ]], dtype=float32))
('the predictions', (512, 1), array([[2.2859414],
       [2.7705495],
       [2.3732505],
       [2.1661124],
       [2.240624 ],
       [2.3409934],
       [2.450088 ],
       [2.8097053],
       [2.7989545],
       [2.2499847],
       [2.3075626],
       [3.0933418],
       [2.3334248],
       [2.6329882],
       [2.2495914],
       [2.8044455],
       [2.3050702],
       [2.2682142],
       [2.6344392],
       [2.6450946],
       [2.6456788],
       [2.564058 ],
       [2.3639424],
       [2.4665856],
       [2.2902448],
       [2.8801482],
       [2.4005184],
       [2.2993486],
       [2.4130776],
       [2.7451103],
       [1.8783773],
       [2.6780248],
       [2.448252 ],
       [2.3696456],
       [2.157348 ],
       [2.3148007],
       [2.3494484],
       [2.1569748],
       [2.382075 ],
       [2.4243033],
       [1.8912001],
       [2.3543441],
       [2.2585883],
       [2.067131 ],
       [2.4770145],
       [2.218554 ],
       [2.505296 ],
       [1.814527 ],
       [2.0724852],
       [2.0851624],
       [2.3757522],
       [2.143265 ],
       [2.6389625],
       [2.0956278],
       [2.257507 ],
       [2.2277098],
       [2.498    ],
       [2.1187825],
       [2.3984065],
       [2.5127869],
       [2.2066102],
       [1.8930986],
       [2.3393981],
       [2.6245065],
       [2.3795469],
       [2.5100935],
       [2.4529839],
       [2.1159713],
       [2.2848148],
       [2.365291 ],
       [2.182153 ],
       [2.4615724],
       [2.9181771],
       [2.4220963],
       [2.45163  ],
       [2.335734 ],
       [2.7348127],
       [2.368842 ],
       [2.9194448],
       [2.4483402],
       [2.4687777],
       [2.0089543],
       [2.6334116],
       [2.7527092],
       [2.8672595],
       [2.8186095],
       [2.601881 ],
       [2.5681715],
       [2.4506302],
       [2.7649622],
       [2.6069217],
       [2.8687005],
       [2.5822778],
       [2.5929694],
       [2.3265088],
       [2.8312142],
       [2.649564 ],
       [3.0268908],
       [2.354786 ],
       [2.838133 ],
       [2.4594948],
       [2.8307078],
       [2.7365954],
       [2.80795  ],
       [2.5794277],
       [2.7080734],
       [2.3974261],
       [2.560993 ],
       [2.6646936],
       [2.5345645],
       [2.884688 ],
       [2.8368251],
       [2.184666 ],
       [2.5677593],
       [2.743122 ],
       [2.6590927],
       [2.7825162],
       [2.507654 ],
       [2.3329523],
       [2.4313688],
       [2.3435907],
       [2.6491466],
       [2.6617851],
       [2.7040906],
       [2.5007467],
       [2.4265924],
       [2.2288754],
       [2.6285353],
       [2.3019998],
       [2.666863 ],
       [2.7710335],
       [2.5090544],
       [2.1496818],
       [2.4255996],
       [2.4368777],
       [2.7573068],
       [2.9902022],
       [1.9601263],
       [2.2769747],
       [2.5639718],
       [2.5949624],
       [2.3721957],
       [2.149471 ],
       [2.2772887],
       [2.5184731],
       [2.3990579],
       [2.283372 ],
       [2.0375862],
       [2.606824 ],
       [2.7547617],
       [1.9056476],
       [2.0878687],
       [2.0695436],
       [2.3715394],
       [2.2433388],
       [2.097546 ],
       [2.053501 ],
       [2.236295 ],
       [2.2248843],
       [2.4974408],
       [2.4660957],
       [2.4186592],
       [2.0496712],
       [2.2524717],
       [2.5750945],
       [1.9810295],
       [2.172712 ],
       [2.2149053],
       [2.1199346],
       [2.571118 ],
       [2.0996413],
       [2.1354263],
       [2.2538705],
       [2.4298265],
       [2.7872272],
       [2.06495  ],
       [2.1342127],
       [2.3462136],
       [2.3340745],
       [2.2891483],
       [2.2761178],
       [2.0306025],
       [1.966847 ],
       [2.4884918],
       [2.4203982],
       [2.0761197],
       [2.3594053],
       [2.6050587],
       [2.560027 ],
       [2.2276425],
       [2.3220081],
       [2.6726944],
       [2.4545126],
       [2.4136333],
       [2.302491 ],
       [2.2597136],
       [2.2522166],
       [2.7346687],
       [2.4912982],
       [2.5387313],
       [2.7517126],
       [2.4174628],
       [2.2964807],
       [2.619252 ],
       [2.5786328],
       [2.3296475],
       [2.6035013],
       [2.5095317],
       [2.80544  ],
       [2.6248834],
       [2.5217729],
       [2.6531582],
       [2.9051588],
       [2.5782652],
       [2.6100411],
       [2.6408122],
       [2.774534 ],
       [2.4932265],
       [2.8007383],
       [2.7646031],
       [2.8828044],
       [3.1348479],
       [2.637141 ],
       [2.5558925],
       [2.8520772],
       [2.9322667],
       [2.420611 ],
       [2.4935815],
       [2.816621 ],
       [2.7380342],
       [2.6043708],
       [2.97806  ],
       [2.4911315],
       [2.5154395],
       [2.8100803],
       [2.6272573],
       [2.3043547],
       [2.604216 ],
       [2.6991858],
       [2.1395142],
       [2.3569133],
       [2.5747302],
       [2.161306 ],
       [2.600523 ],
       [2.6252706],
       [2.1834762],
       [2.378435 ],
       [2.2614157],
       [2.2026753],
       [2.3379312],
       [2.406219 ],
       [2.5790615],
       [2.2170527],
       [2.1385481],
       [2.2538216],
       [2.2055945],
       [2.135961 ],
       [2.3749838],
       [2.3842762],
       [2.5486238],
       [1.9221897],
       [1.8639532],
       [2.3833656],
       [2.5294342],
       [2.3473806],
       [2.6801157],
       [1.7252012],
       [2.5335956],
       [2.181868 ],
       [2.6327813],
       [1.576347 ],
       [2.5546207],
       [2.467364 ],
       [2.0727756],
       [2.0101337],
       [2.59139  ],
       [2.3625934],
       [2.41183  ],
       [2.308695 ],
       [2.2843819],
       [2.1260293],
       [2.8790617],
       [2.5227392],
       [2.2584462],
       [2.223938 ],
       [2.8844113],
       [2.119389 ],
       [2.389508 ],
       [2.47383  ],
       [2.5097795],
       [2.6408331],
       [2.6863885],
       [2.341642 ],
       [2.8986776],
       [2.3684733],
       [2.6755173],
       [2.5394807],
       [2.657533 ],
       [2.4335527],
       [2.4899554],
       [2.7581353],
       [2.521009 ],
       [2.8341708],
       [2.4919086],
       [2.523275 ],
       [2.6429484],
       [2.7580423],
       [2.866943 ],
       [2.6336977],
       [2.7676225],
       [2.952662 ],
       [2.7073598],
       [2.7245312],
       [2.6079445],
       [2.7472079],
       [2.796466 ],
       [2.7657623],
       [2.3678374],
       [2.8601062],
       [2.9053845],
       [2.8769546],
       [2.5843792],
       [2.8976994],
       [2.5680969],
       [2.934088 ],
       [2.7173262],
       [2.8389013],
       [2.597095 ],
       [2.924754 ],
       [2.5023932],
       [2.377311 ],
       [2.7983177],
       [2.8156924],
       [2.5727403],
       [2.7090807],
       [2.6582932],
       [2.4279833],
       [2.7952716],
       [2.7639077],
       [2.6427932],
       [2.5695682],
       [2.6854706],
       [2.4705608],
       [2.8714426],
       [2.4415913],
       [2.5455124],
       [2.5985737],
       [2.7687073],
       [2.4042222],
       [2.6095445],
       [2.5834713],
       [2.8745487],
       [2.4371045],
       [2.7459   ],
       [2.3460038],
       [2.60361  ],
       [2.812346 ],
       [2.4872637],
       [2.6740794],
       [2.432668 ],
       [2.7149775],
       [2.7765863],
       [2.8311365],
       [2.763596 ],
       [2.535752 ],
       [2.3876402],
       [2.4358757],
       [2.5028045],
       [2.5798683],
       [2.6377308],
       [2.5820513],
       [2.577981 ],
       [2.475427 ],
       [2.265776 ],
       [2.8424592],
       [2.5157597],
       [2.5756726],
       [2.662579 ],
       [2.4035373],
       [2.275896 ],
       [2.3054242],
       [2.654831 ],
       [2.442353 ],
       [2.5180335],
       [2.6242695],
       [2.3840926],
       [2.7995005],
       [2.4904635],
       [2.6965604],
       [2.5574262],
       [2.5811856],
       [2.5934973],
       [2.3687558],
       [2.1479769],
       [2.5175443],
       [2.495302 ],
       [2.4922934],
       [2.491977 ],
       [2.426066 ],
       [2.377871 ],
       [2.3362343],
       [2.4535422],
       [3.0786757],
       [2.4385457],
       [2.7609367],
       [2.5594485],
       [2.6271386],
       [2.5778172],
       [2.9751616],
       [2.5311399],
       [2.7703466],
       [2.6357107],
       [2.880131 ],
       [3.0274775],
       [3.0777674],
       [2.8418002],
       [2.805319 ],
       [2.6185884],
       [2.745941 ],
       [2.9815588],
       [2.821536 ],
       [2.675163 ],
       [2.3780587],
       [2.6336396],
       [2.4786134],
       [2.9801483],
       [2.8167298],
       [2.711506 ],
       [2.6288338],
       [2.6431637],
       [2.3969831],
       [2.7639256],
       [2.4652426],
       [2.8675034],
       [2.6671877],
       [2.3768642],
       [2.6006105],
       [2.4040332],
       [2.7132583],
       [2.5626743],
       [2.7358022],
       [2.6622913],
       [2.2584066],
       [2.0114224],
       [2.5908825],
       [2.6195803],
       [2.2957652],
       [2.2584515],
       [2.130559 ],
       [2.254811 ],
       [2.2026517],
       [2.0533533],
       [2.0198436],
       [2.017022 ],
       [2.5271199],
       [1.8914464],
       [2.1924088],
       [2.097736 ],
       [2.1691072],
       [2.0405004],
       [2.0213492],
       [2.04308  ],
       [2.449445 ],
       [2.17045  ],
       [2.6484678],
       [1.9943187],
       [2.0020275],
       [1.6529951],
       [2.3821194],
       [2.4192653],
       [2.4260094],
       [2.30891  ],
       [2.2447853],
       [1.8851163],
       [2.2204752],
       [2.3650463],
       [2.635683 ],
       [2.3043885],
       [2.4452593],
       [2.150697 ],
       [2.4395015],
       [1.927708 ],
       [2.407394 ],
       [1.9256442],
       [2.8455222],
       [2.9132175],
       [2.510343 ],
       [2.2839818],
       [2.9235911],
       [2.4657464],
       [2.9588466],
       [2.278753 ],
       [2.4898355],
       [2.6772194],
       [2.8312933],
       [2.6571236],
       [2.5085907],
       [2.3251514],
       [2.728031 ],
       [2.6275237],
       [2.8246784],
       [2.5285673],
       [2.414862 ],
       [2.4524772],
       [2.7473192],
       [2.6239965],
       [2.7738824],
       [2.2874374],
       [2.588804 ],
       [2.4208534],
       [2.6138437],
       [2.434386 ]], dtype=float32))